<header>
    <div class="topContainer">
        <div class="topHeader">
            <div class="logoTitle">
                <div><img src="web/style/img/logoBullE.png" alt="logo Bull-E"></div>
                <a href="?action=home"><h1>Bull-E</h1></a>
            </div>
            <div class="supportUsBtn">
                <input type="submit" value="nous soutenir" class="suppBtn">
            </div>
            <div class="accessProfileMain">
                <div class="signInUp accessProfile">
                    <form action="GET" class="formLogIn">
                        <p class="username"><a href="?action=account">{{ currentUser['pseudo'] }}</a></p>
                        <div class="myAccount">
                            <p class="account"><a href="?action=account">mon compte</a></p>
                            <p class="separator">/</p>
                            <p class="account"><a href="?action=inbox">messagerie</a></p>
                        </div>
                        <p class="disconnect"><a href="?action=toSuppress" id="logout">déconnexion</a></p>
                    </form>
                </div>
                <div class="accountProfile">
                    <img class="accountPicture" src="web/style/img/avatarPro.png" alt="account picture">
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <ul class="menu">
            <li><a href="?action=about">à propos</a></li>
            <li><a href="?action=contact">contact</a></li>
            <li><a href="?action=forum">forum</a></li>
            <li class="documentation">
                <a href="?action=documentation">documentation</a>
                <ul>
                    <li><a href="?action=documentation&article=what">Qu'est-ce que le cyber-bullying ?</a></li>
                    <li><a href="?action=documentation&article=gesture">Les bons gestes</a></li>
                    <li><a href="?action=documentation&article=who">Quels recours</a></li>
                    <li><a href="?action=documentation&article=ressources">Ressources externes</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
