{% extends 'layout.html.twig' %}

{% block content %}
    <div class="aboutContainer">
        <div class="aboutTittle">
            <h1>qu'est-ce que Bull-e ?</h1>
            <div class="aboutUnderline"></div>
        </div>
        <div class="text1">
            <p>
                Bull-E est une plateforme d’aide et d’écoute sur un sujet actuel qu’est le cyber harcèlement, aussi appelé cyber bullying.</p>
            <p>Nous mettons à votre disposition des psychologues afin d’être écouté mais aussi obtenir les meilleurs conseils pour faire face au cyber harcèlement.</p>
            <p>Nous vous offrons également la possibilité de contacter des avocats ou juristes si vous souhaitez engendrer une procédure judiciaire.</p>
            <p>Notre site web possède également une rubrique documentation afin que vous puissiez être le plus ou la plus informée à ce sujet.</p>

        </div>
        <div class="text2">
            <div class="aboutTittle">
                <h1>qui sommes nous ?</h1>
                <div class="aboutUnderline"></div>
            </div>
            <p>Bull-E est une association créée et fondée par 9 personnes.</p>
            <p>Au cœur de l’actualité, le cyber harcèlement est un sujet qui nous touche énormément et selon notre équipe, il faut agir au plus vite et de manière plus efficace.</p>
            <p>C’est pour cela qu’aujourd’hui nous proposons Bull-E, une plateforme uniquement et entièrement dédiée au cyber harcèlement avec à votre disposition des professionnels qui sauront encadrer chacun de vos cas dans les plus brefs délais.</p>
        </div>
    </div>
{% endblock %}
