<div class="opacityBg">
    <div class="choosePro">
        <div id="modal">
            <div class="allPopUp">
                <div class="PopUpSignUp">
                    <div class="imgCross">
                        <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
                    </div>
                    <p>attention</p>
                </div>
                <div class="memberDeleteAccount">
                    <p>Êtes-vous sûr(e) de vouloir supprimer votre compte ?</p>
                </div>
                <div class="memberDeleteButtons">
                <div class="formChoosePro">
                    <div>
                    <input type="submit" value="annuler" class="pwdUn" id="decline">
                    </div>
                    <div>
                    <input type="submit" value="supprimer mon compte" class="pwdTwo" id="validate">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
