<div class="opacityBg">
    <div class="choosePro">
        <div id="modal">
            <div class="allPopUp">
                <div class="PopUpSignUp">
                    <div class="imgCross">
                        <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
                    </div>
                    <p>ATTENTION! CETTE ACTION EST IRREVERSIBLE! CONFIRMEZ VOUS VOTRE CHOIX?</p>
                </div>
                <div class="formChoosePro">
                    <div>
                        <input type="submit" value="Oui, supprimez mon compte" class="pwdUn" id="validate">
                    </div>
                    <div>
                        <input type="submit" value="Non, gardez mon compte" class="pwdTwo" id="decline">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>