{%  extends 'layout.html.twig' %}

{% block content %}

<div class="containerForum">
    <div class="researchForum">
        <div class="tittleForum">
            <span>Sujets de discussion</span>
            <div class="underlineForum"></div>
        </div>
        <div class="inputForum">
            <input type="text" name="requete" class="inputResearch" placeholder="rechercher...">
            <!-- TODO -->
        </div>
    </div>
    <div class="submitForum">
        <input type="submit" value="créer un nouveau sujet">
        <!--TODO-->
    </div>
    <div class="containerChatForum">
        <hr>
        <div class="containerChat">
            <h2>Je suis en seconde et mes camarades se moquent de moi sur les réseaux sociaux…</h2>
            <div class="reponseForum">
                <p> 90 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 127 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <h2>Mes enfants ont trouvé une vidéo gênante de moi sur Faceboo</h2>
            <div class="reponseForum">
                <p> 87 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 106 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <h2>Je suis homosexuel et on m’insulte sur Twitter… Que faire ?</h2>
            <div class="reponseForum">
                <p> 40 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 69 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <h2>Mon ancienne meilleure amie répand des rumeurs sur moi</h2>
            <div class="reponseForum">
                <p> 24 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 94 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <h2>On me demande une rançon pour ne pas diffuser mes photos compromettantes</h2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
