{%  extends 'layout.html.twig' %}

{% block content %}

<div class="containerForum">
    <div class="researchForum">
        <div class="tittleForum">
            <span>Sujets de discussion</span>
            <div class="underlineForum"></div>
        </div>
        <div class="inputForum">
            <input type="text" name="requete" class="inputResearch" placeholder="rechercher...">
            <!-- TODO -->
        </div>
    </div>
    <div class="submitForum">
        <input type="submit" value="créer un nouveau sujet">
        <!--TODO-->
    </div>
    <div class="containerChatForum">
        <hr>
        <div class="containerChat">
            <H2>Titre du fil de discussion</H2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <H2>Titre du fil de discussion</H2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <H2>Titre du fil de discussion</H2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <H2>Titre du fil de discussion</H2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
        <div class="containerChat">
            <H2>Titre du fil de discussion</H2>
            <div class="reponseForum">
                <p> 2 </p><span> réponses </span>
            </div>
            <div class="reponseForum">
                <p> 14 </p><span> vues</span>
            </div>
            <div class="divExplication">
                <p class="pExplication"> commencé par <span class="pColor">nom d'utilisateur</span> dernier message le 13 mai a 15h23 par <span class="pColor">nom d'utilisateur</span></p>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}