{%  extends 'layout.html.twig' %}

{% block content %}
<div class="homeBg">
    <div class="homeContainer">
        <div class="home">
            <div class="homeImg">
                <img src="web/style/img/home.png" alt="home image">
            </div>
            <div class="homeContent">
                <h2>Nous sommes là pour vous aider</h2>
                <div class="homeUnderline"></div>
                <p>Bull-E est une plateforme d’aide et d’écoute sur le cyber harcèlement.
                    <br>
                    Vous serez entièrement suivis et accompagnés par des professionnels qui sauront vous écouter, vous conseiller et également vous aider juridiquement.
                    N’hésitez pas à nous rejoindre que ce soit en tant que professionnel ou victime de cyber harcèlement.
</p>
            </div>
        </div>
        <div class="homeContact">
            <a href="?action=proList"><input type="submit" value="voir la liste des professionnels" class="proBtn"></a>
            <a href="?action=contact"><input type="submit" value="nous contacter" class="contactBtn"></a>
        </div>
    </div>
</div>

<div class="forumBg">
    <div class="homeContainer">
        <div class="forumTitle">
            <h2>derniers messages du forum</h2>
            <div class="forumUnderline"></div>
        </div>
        <div class="forumMain">
            <div class="forumContent">
                <div class="forumMsg">
                    <h3>Témoignez avec d’autres victimes du cyber harcèlement</h3>
                    <p>Je te conseille de garder toutes les traces possibles qui montrent que tu as été victime de cyber harcèlement. Etant donné que tu es très jeune, je te conseille d’échanger au plus vite avec un des professionnels…</p>
                    <span>posté par <span class="username">AntoineD</span> à <span class="date">21H23</span> le <span class="date">31/05/2017 </span></span>
                </div>
            </div>
            <div class="forumContent">
                <div class="forumMsg">
                    <h3>Les procédures juridiques</h3>
                    <p>Bonjour Manon,
                        Je voulais savoir si ce n’est pas trop indiscret, l’avancement de ta procédure juridique à l’encontre de ton ancienne amie ?
                        Je ne sais pas trop si je dois aller jusque-là dans mon cas, j’aimerais savoir comment cela se passe avant de prendre contact avec…
                    </p>
                    <span>posté par <span class="username">OhTiti</span> à <span class="date">15h32</span> le <span class="date">01/06/17</span></span>
                </div>
            </div>
            <div class="forumContent">
                <div class="forumMsg">
                    <h3>Que faire en lorsqu’il y a des violences physiques en plus du cyber harcèlement ?</h3>
                    <p>Bonjour à toi Antoine,
                        Je te recommande vivement d’aller contacter un de nos psychologues si ce n’est pas déjà fait. Parles-en à tes proches et n’hésite pas à échanger avec l’un de nos juristes pour lancer une procédure juridique si tu en ressens le besoin.
                        Néanmoins, si tu cherches à t’informer un peu plus à ce sujet, je t’invite à aller dans notre rubrique « documentation ».
                    </p>
                    <span>posté par <span class="username">EugénieP</span> à <span class="date">17h09</span> le <span class="date">01/06/17</span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="supportUsBg">
    <div class="homeContainer">
        <div class="supportUs">
            <h3>Comment nous aider ?</h3>
            <div class="supportUsContent">
                <div class="particular">
                    <h4>Vous êtes un particulier</h4>
                    <p>Soutenez Bull-E en faisant un don !</p>
                    <input type="submit" value="faites un don" class="donationBtn supportBtn">
                </div>
                <div class="horizontalLine"></div>
                <div class="pro">
                    <h4>Vous êtes une entreprise ou une organisation</h4>
                    <p>Collaborez avec nous !</p>
                    <a href="?action=contact"><input type="submit" value="devenez partenaire" class="partnerBtn supportBtn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ourPartnersBg forumBg">
    <div class="partnersContainer">
        <div class="partnersTitle">
            <h3>Nos Partenaires</h3>
            <div class="partnersUnderline"></div>
        </div>
        <div class="partnersLinks">
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
            <div class="partners"></div>
        </div>
    </div>
</div>
{% endblock %}
