{%  extends 'layout.html.twig' %}

{% block content %}
<div class="containerML">
    <div class="titleML">
        <span>vie privée</span>
        <div class="underLineML"></div>
    </div>
    <div class="divML">
        <div class="divTitle">
            <span>Politique extreme relative à la protection de la vie privée</span>
            <br>
            <span>à l'égard du traitement de données à caractère personnel.</span>
        </div>
        <span>fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad moNec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mo</span>
        <div class="divTitle2">Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.Nec minus feminae quoque calamitatum participes fuere similium.</div>
    </div>
    <div class="buttonML">
        <a href="web/download/legal.pdf" download="web/download/legal.pdf">
            <input type="submit" value="télécharger le pdf">
        </a>
        <!--TODO-->
    </div>
    <div class="tableML">
        <h1>table des matieres</h1>
        <span>Avant-propos</span>
        <ol>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
            <li>Nec minus feminae quoque calamitatum participes fuere similium</li>
        </ol>
        <span>Disposition Finales</span>
    </div>
</div>
{% endblock %}