{%  extends 'layout.html.twig' %}

{% block content %}
<div class="containerML">
    <div class="titleML">
        <span>vie privée</span>
        <div class="underLineML"></div>
    </div>
    <div class="divML">
        <div class="divTitleML">
            <span>Politique extreme relative à la protection de la vie privée</span>
            <br>
            <span>à l'égard du traitement de données à caractère personnel.</span>
        </div>
        <span>Nous sommes amenés de par nos missions à traiter un grand nombre de données à caractère personnel. Soucieux de respecter votre droit à la vie privée et d’agir en conformité avec la règlementation française et les directives européennes, nous avons mis en place une politique de protection des données à caractère personnel tant pour la collecte, l’enregistrement, l’utilisation et le traitement des informations personnelles que vous nous communiquez.</span>
        <div class="divTitle2">Notre politique répond également aux exigences et prérogatives souhaitées
par la Commission de la  vie privée.</div>
    </div>
    <div class="buttonML">
        <a href="web/download/legal.pdf" download="web/download/legal.pdf">
            <input type="submit" value="télécharger le pdf">
        </a>
        <!--TODO-->
    </div>
    <div class="tableML">
        <h1>table des matières</h1>
        <span>Avant-propos</span>
        <ol>
            <li>Quelles sont les dispositions légales qui nous permettent de traiter les données à caractère personnel ?</li>
            <li>Quels sont les collaborateurs qui récoltent et traitent les données ?</li>
            <li>Quelles sont les légitimités et les finalités du traitement des données récoltées ?</li>
            <li>Quelles données récoltons-nous et sous quelle forme ?</li>
            <li>Quels sont les droits des personnes concernées ?</li>
            <li>Pourquoi enregistrons-nous les communications téléphoniques et les historiques des chats ?</li>
            <li>Quels sont les destinataires des données récoltées ?</li>
            <li>Quel degré de sécurité assurons-nous lors du transfert des données récoltées ?</li>
            <li>Quels sont les délais de conservation des données que nous récoltons ?</li>
            <li>Quelles sont nos mesures de protection des données ?</li>
            <li>Quelles technologies de suivi informatique utilisons-nous ?</li>
        </ol>
    </div>
</div>
{% endblock %}
