<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lucie Eliott Jonathan">
    <title>Bull-E</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="web/JS/whole.js"></script>
    <link rel="stylesheet" href="web/style/style.css">
</head>
<body>

{% if loggedIn == false %}
    {% include 'disconnected/header.html.twig' %}
{% elseif currentUser['type'] == 'victime' %}
    {% include 'connected/victime/header.html.twig' %}
{% else %}
    {% include 'connected/pro/header.html.twig' %}
{% endif %}

<div id="modalWaiter"></div>
{% block content %} {% endblock %}

<footer>
    <div class="footerContainer">
        <div class="links">
            <ul class=linksList>
                <li><a href="?action=home">index</a></li>
                <li><a href="?action=about">à propos</a></li>
                <li><a href="?action=forum">forum</a></li>
                <li><a href="?action=proList">liste des professionnels</a></li>
                <li><a href="#">nous soutenir</a></li>
                <li><a href="?action=legalNotice">mentions légales</a></li>
                <li><a href="?action=documentation&article=what">qu'est-ce que le cyber-bullying</a></li>
                <li><a href="?action=documentation&article=gesture">les bons gestes</a></li>
                <li><a href="?action=documentation&article=who">quels recours</a></li>
                <li><a href="?action=documentation&article=ressources">ressources externes</a></li>
            </ul>
        </div>
        <div class="logoRights">
            <div class="logo">
                <a href="#"><img src="web/style/img/logoTwitter.png" alt="logo twitter" class="twitter"></a>
                <a href="#"><img src="web/style/img/logoFb.png" alt="logo facebook" class="facebook"></a>
            </div>
            <span class="copyrights">@ Bull-E 2017 / Tous droits réservés</span>
        </div>
    </div>
</footer>

<!--
<div id="debug">
    <pre>
        {# {{ dump() }} #}
    </pre>
</div>
-->

{% if loggedIn == false %}
    <script src="web/JS/disconnected/whole.js"></script>
{% elseif currentUser['type'] == 'victime' %}
    <script src="web/JS/connected/victime.js"></script>
    <script src="web/JS/connected/whole.js"></script>
{% else %}
    <script src="web/JS/connected/pro.js"></script>
    <script src="web/JS/connected/whole.js"></script>
{% endif %}
</body>
</html>
