<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lucie Elliott Jonathan">
    <title>bull-E</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="web/JS/whole.js"></script>
    <link rel="stylesheet" href="web/style/style.css">
</head>
<body>

{% block header %} {% endblock %}

{% block content %} {% endblock %}
<div id="debug">
    <pre>
        {{ dump() }}<!-- your variables! -->
    </pre>
</div>


{% block script %}{% endblock %}
</body>
</html>