<div class="headerBack">
    <div class="headerBlockFlex">
        <div class="titleBullE">
            <h1>bull-e</h1>
        </div>
        <div class="administration">
            <div class="adminBoard">
                <span>Panneau d'<span class="bold">administration</span></span>
            </div>
            <div class="adminConnection">
                <a href="?action=logout"><span>me déconnecter </span></a> / <a href="#"><span>retour au site</span></a>
            </div>
        </div>
    </div>
</div>