
    <div class="typeConsole">
        <p class="selectedLog">access</p>
        <p>message</p>
        <p>security</p>

    </div>
    <div class="divConsole">
        <p id="logContent"></p>
    </div>
