<div class="opacityBg">
    <div class="choosePro">
        <div class="allPopUp" id="modal">
            <div class="PopUpSignUp">
                <div class="crossImg">
                    <a id="close"><img src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
                </div>
                <p>Envoyer un mail à l'utilisateur</p>
            </div>
            <div class="messageBackEnd">
                <div class="textAreaDiv">
                    <textarea placeholder="écrivez votre message..." id="message"></textarea>
                </div>
                <div class="buttonDiv">
                    <a><button id="confirm">supprimer le compte et envoyer le mail</button></a>
                </div>
            </div>
        </div>
    </div>
</div>