<div class="accountInactive">
    <h1>compte inactifs</h1>
</div>
<div class="divLine"></div>
<div class="accountActive">
    <h1>compte actifs</h1>
</div>
<div class="divLine"></div> <!-- TODO faire apparaitre infos utilisateurs -->
<div class="descriptionUsers notForUser">
    <div class="textDescriptionUsers"> <!--TODO info Users-->
        <p>Utilisateur</p>
        <span>actif</span> <!-- TODO online or offline -->
    </div>
    <div class="secondTextDescriptionUsers">
        <h1 id="username">nom d'utilisateur</h1> <!-- TODO name user-->
        <p> <span>Adresse e-mail :</span> utilisateur@gmail.com</p> <!-- TODO adresse email users-->
        <p> <span>Type :</span> 01/01/1992</p> <!-- TODO birth date-->
        <p> <span>Nombre de messages sur le forum :</span> Aucun.</p> <!-- TODO Numbers message-->
    </div>
    <div class="inputDescriptionUsers">
        <input type="submit" value="supprimer le compte" class="submitTwoBackEnd">
    </div>
</div>