{%  extends 'layout.html.twig' %}

{% block script %}
    <script src="web/JS/disconnected/whole.js"></script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div id="modalWaiter"></div>

    <div class="homeBg">
        <div class="homeContainer">
            <div class="home">
                <div class="homeImg">
                    <img src="home.png" alt="home image">
                </div>
                <div class="homeContent">
                    <h2>Titre d'accroche</h2>
                    <div class="homeUnderline"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="homeContact">
                <a href="proList.html"><input type="submit" value="voir la liste des professionnels" class="proBtn"></a>
                <a href="contact.html"><input type="submit" value="nous contacter" class="contactBtn"></a>
            </div>
        </div>
    </div>

    <div class="forumBg">
        <div class="homeContainer">
            <div class="forumTitle">
                <h2>derniers messages du forum</h2>
                <div class="forumUnderline"></div>
            </div>
            <div class="forumMain">
                <div class="forumContent">
                    <div class="forumMsg">
                        <h3>Titre du topic test titre long lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>
                        <span>posté par <span class="username">Michel21</span> à <span class="date">22H10</span> le <span class="date">12/02/2017</span></span>
                    </div>
                </div>
                <div class="forumContent">
                    <div class="forumMsg">
                        <h3>Titre du topic test titre long lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>
                        <span>posté par <span class="username">Michel21</span> à <span class="date">22H10</span> le <span class="date">12/02/2017</span></span>
                    </div>
                </div>
                <div class="forumContent">
                    <div class="forumMsg">
                        <h3>Titre du topic test titre long lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>
                        <span>posté par <span class="username">Michel21</span> à <span class="date">22H10</span> le <span class="date">12/02/2017</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="supportUsBg">
        <div class="homeContainer">
            <div class="supportUs">
                <h3>Comment nous aider ?</h3>
                <div class="supportUsContent">
                    <div class="particular">
                        <h4>Vous êtes un particulier</h4>
                        <p>Soutenez Bull-E en faisant un don !</p>
                        <input type="submit" value="faites un don" class="donationBtn supportBtn">
                    </div>
                    <div class="horizontalLine"></div>
                    <div class="pro">
                        <h4>Vous êtes une entreprise ou une organisation</h4>
                        <p>Collaborez avec nous !</p>
                        <input type="submit" value="devenez partenaire" class="partnerBtn supportBtn">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ourPartnersBg forumBg">
        <div class="partnersContainer">
            <div class="partnersTitle">
                <h3>Nos Partenaires</h3>
                <div class="partnersUnderline"></div>
            </div>
            <div class="partnersLinks">
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
                <div class="partners"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerContainer">
            <div class="links">
                <ul class=linksList>
                    <li><a href="homeHOST.html">index</a></li>
                    <li><a href="about.html">à propos</a></li>
                    <li><a href="forum.html">forum</a></li>
                    <li><a href="proList.html">liste des professionnels</a></li>
                    <li><a href="#">nous soutenir</a></li>
                    <li><a href="ML.html">mentions légales</a></li>
                    <li><a href="documentation.html">qu'est-ce que le cyber-bullying</a></li>
                    <li><a href="#">les bons gestes</a></li>
                    <li><a href="#">quels recours</a></li>
                    <li><a href="#">ressources externes</a></li>
                </ul>
            </div>
            <div class="logoRights">
                <div class="logo">
                    <a href="#"><img src="web/style/img/logoTwitter.png" alt="logo twitter" class="twitter"></a>
                    <a href="#"><img src="web/style/img/logoFb.png" alt="logo facebook" class="facebook"></a>
                </div>
                <span class="copyrights">@ Bull-E 2017 / Tous droits réservés</span>
            </div>
        </div>
    </footer>

    <!--
    <form action="connect.php" method="post" name="connect">
        <input type="text" name="username" placeholder="name">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>




    <p>Inscription : </p>
    <span>pro : </span>

    <form name="proInscription">
        <label for="proUsername">login : </label>
        <input type="text" name="pseudo" id="proUsername" placeholder="login"><br>

        <label for="proEmail">email : </label>
        <input type="email" name="email" id="proEmail" placeholder="xyz@example.com"><br>

        <span>Select your gender!</span><br>
        <label for="proMale">man : </label>
        <input type="radio" name="gender" value="man" id="proMale"><br>
        <label for="proFemale">woman : </label>
        <input type="radio" name="gender" value="woman" id="proFemale"><br>

        <label for="proPassword">password : </label>
        <input type="password" name="password" id="proPassword" placeholder="password">
        <br>

        <label for="proConfirmationOfPassword">confirm your password : </label>
        <input type="password" name="confirmationOfPassword" id="proConfirmationOfPassword" placeholder="confirm your password"><!--BONUS : add button show password -->
        <!--<br>

        <label for="proIndic">password indication</label>
        <input type="text" name="indic" id="proIndic" placeholder="this will be displayed if you don't remember your password"><br>

        <label for="proLocation">code postal</label>
        <input type="text" name="location" id="proLocation" placeholder="Entrez votre code postal"><br>

        <label for="proSlot">free slot</label>
        <input type="number" name="free_slot" id="proSlot"><br>

        <label for="proType">type</label>
        <select name="type" id="proType">
            <option value="lawyer">lawyer</option>
            <option value="psy">psy</option>
        </select> <br>
        <!--TODO : include capcha if have time-->
        <!--<button>send</button>
    </form>

    <span>Victim</span>

    <form name="victimInscription">
        <label for="victimUsername">login : </label>
        <input type="text" name="pseudo" id="victimUsername" placeholder="login"><br>

        <label for="victimEmail">email : </label>
        <input type="email" name="email" id="victimEmail" placeholder="xyz@example.com"><br>

        <span>Select your gender!</span><br>
        <label for="victimMale">man : </label>
        <input type="radio" name="gender" value="man" id="victimMale"><br>
        <label for="victimFemale">woman : </label>
        <input type="radio" name="gender" value="woman" id="victimFemale"><br>

        <label for="victimPassword">password : </label>
        <input type="password" name="password" id="victimPassword" placeholder="password">
        <br>

        <label for="victimConfirmationOfPassword">confirm your password : </label>
        <input type="password" name="confirmationOfPassword" id="victimConfirmationOfPassword" placeholder="confirm your password"><!--BONUS : add button show password -->
        <!--<br>

        <label for="victimIndic">password indication</label>
        <input type="text" name="indic" id="victimIndic" placeholder="this will be displayed if you don't remember your password"><br>

        <label for="victimLocation">code postal</label>
        <input type="text" name="location" id="victimLocation" placeholder="Entrez votre code postal"><br>

        <label for="victimBirthdate">birthdate</label>
        <input type="date" name="birthdate" id="victimBirthdate"><br>
        <!--TODO : include capcha if have time-->
        <!--<button>send</button>
    </form>-->
{% endblock %}
