
        <div class="topPart">
            <span>Écrire un nouveau message</span>
        </div>
        <form id="sendForm">
            <div class="inboxInfo">
                <div class="inboxUnderline"></div>
                <div class="writeMsg">
                    <input type="text" placeholder="Destinataire..." name="dest" class="receiver">
                    <div class="inboxUnderline"></div>
                    <input type="text" placeholder="Objet..." class="object" name="object">
                    <div class="inboxUnderline"></div>
                    <textarea name="content" placeholder="Tapez votre message..." id="textarea" cols="30" rows="10" class="contentMsg"></textarea>
                    <div class="inboxUnderline"></div>
                </div>
                <div class="writeMsgActions">
                    <div class="writeMsgButtons">
                        <input type="file" name="PJ" placeholder="pièce jointe">
                    </div>
                    <input type="submit" value="envoyer" class="sendMsg">
                </div>
            </div>
        </form>
