<div class="topPart">
    <span>{{ person['pseudo'] }}</span>
</div>
<div class="inboxInfo">
    <div class="view">
        <div class="content">
            <div class="nameDate">
                <div>
                    <span class="categorie">
                        {% if receptorOrSender == 'receptor' %}
                            A :
                        {% else %}
                            De :
                        {% endif %}
                    </span>
                    <span class="name">{{ person['pseudo'] }}</span>
                </div>
            </div>
            <span class="categorie">Objet : </span><span class="titleMsg">{{ object }}</span>
            <div class="viewMessage viewMessageSize">
                <p>{{ content|raw }}</p>

            </div>
            <div class="downloadFile">
                <button id="dlPJ" class="suppEmail">télécharger</button>
            </div>
        </div>

    </div>
</div>
