<div class="opacityBg">
    <div class="logPage">
        <div class="titleSignUp" id="modal">
            <div class="imgCross">
                <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
            </div>
            <!-- TODO leave popUP -->
            <h2>créer un nouveau compte</h2>
            <div class="containerSignUp">
                <form id="modalForm" action="">
                    <div class="containerInputSignUp">
                        <div class="divLeftSignUp">
                            <div class="inputTextSignUp">
                                <label for="username">
                                    <p>nom d'utilisateur*</p>
                                </label>
                                <input type="text" placeholder="Entrer votre nom d'utilisateur" name="pseudo" id="username">
                                <!--TODO-->
                            </div>
                            <div class="inputTextSignUp">
                                <label for="freeSlot">
                                    <p>Nombre d'utilisateur maximum</p>
                                </label>
                                <input type="number" placeholder="nombre d'utilisateur maximum" name="free_slot" id="freeSlot">
                            </div>
                            <div class="inputTextSignUp">
                                <label for="password">
                                    <p>mot de passe*</p>
                                </label>
                                <input type="password" placeholder="entrer votre mot de passe" name="password" id="password">
                                <!--TODO-->
                            </div>

                        </div>
                        <div class="divRightSignUp">
                            <div class="inputTextSignUp">
                                <label for="type">
                                    <p>profession*</p>
                                </label>
                                <select class="listSelect" id="type" name="type">
                                    <option value="choose">choisissez votre profession</option>
                                    <!-- TODO -->
                                    <option value="psy">psychologue</option>
                                    <option value="lawyer">juriste</option>
                                </select>
                                <!--TODO-->
                            </div>
                            <div>
                                <p>Genre</p>
                                <select class="listSelect" name="gender">
                                    <option value="choose">Choisissez votre genre</option> <!-- TODO -->
                                    <option value="man">Homme</option>
                                    <option value="woman">Femme</option>
                                </select>
                            </div>
                            <div class="inputTextSignUp">
                                <label for="confirmPassword">
                                    <p>confirmation mot de passe</p>
                                </label>
                                <input type="password" placeholder="confirmer votre mot de passe" name="confirmationOfPassword" id="confirmPassword">
                                <!--TODO -->
                            </div>
                        </div>
                    </div>

                    <div class="centerDivSignUp">
                        <div>
                            <label for="hintPassword">
                                <p>indication mot de passe*</p>
                            </label>
                            <input type="text" placeholder="écrivez une indication en cas d'oubli de votre mot de passe" name="indic" id="hintPassword">
                        </div>
                    </div>

                    <div class="containerEmail">
                        <div class="emailInput">
                            <label for="email">
                                <p>adresse email*</p>
                            </label>
                            <input type="text" placeholder="Entrer votre adresse email" name="email" id="email"> <!-- TODO adresse mail-->
                        </div>
                        <div class="postalCode">
                            <label for="location">
                                <p>code postal</p>
                            </label>
                            <input type="text" class="postalInput" placeholder="Entrez votre code postal" name="location" id="location">
                            <!--TODO code postal-->
                        </div>
                    </div>
                    <div>

                        <div class="buttonBottom">
                            <input class="inputButtonSignUp" type="submit" value="valider et créer mon compte">
                            <!--TODO valide compte-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</html>


