<div class="opacityBg">
    <div class="logPage">
        <div class="titleSignUp" id="modal">
            <div class="imgCross">
                <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
            </div>
            <!-- TODO leave popUP -->
            <h2>créer un nouveau compte</h2>
            <div class="containerSignUp">
                <div class="containerInputSignUp">
                    <div class="divLeftSignUp">
                        <div class="inputTextSignUp">
                            <p>nom d'utilisateur*</p>
                            <input type="text" placeholder="Entrer votre nom d'utilisateur">
                            <!--TODO-->
                        </div>
                        <div class="inputTextSignUp">
                            <p>mot de passe*</p>
                            <input type="password" placeholder="entrer votre mot de passe">
                            <!--TODO-->
                        </div>

                    </div>
                    <div class="divRightSingUp">
                        <div class="inputTextSignUp">
                            <p>profession*</p>
                            <select class="listProfession">
                                <option value="choose">choisissez votre profession</option> <!-- TODO -->
                                <option value="psy">psychologue</option>
                                <option value="juriste">juriste</option>
                            </select>
                            <!--TODO-->
                        </div>
                        <div class="inputTextSignUp">
                            <p>confirmation mot de passe</p>
                            <input type="password" placeholder="confirmer votre mot de passe">
                            <!--TODO -->
                        </div>
                    </div>
                </div>

                <div class="centerDivSignUp">
                    <div>
                        <p>indication mot de passe*</p>
                        <input type="text" placeholder="écrivez une indication en cas d'oubli de votre mot de passe">
                    </div>
                    <div>
                        <p>adresse email*</p>
                        <input type="text" placeholder="entrer votre adresse email">
                        <!-- TODO adresse mail-->
                    </div>
                </div>

                <div class="postalCode">
                    <div class="inputTextSignUp">
                        <p>code postal</p>
                        <input type="text" class="postalInput" placeholder="entrez votre code postal">
                        <!--TODO code postal-->
                    </div>
                    <div class="buttonBottom">
                        <input class="inputButtonSignUp" type="submit" value="valider et créer mon compte">
                        <!--TODO valide compte-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>