<div class="opacityBg">
    <div class="choosePro">
        <div id="modal">
            <div class="allPopUp">
                <div class="PopUpSignUp">
                    <div class="imgCross">
                        <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
                    </div>
                    <p>vous n'êtes pas encore un des nôtres</p>
                </div>
                <div class="formChoosePro">
                    <div>
                        <input type="submit" value="s'inscrire en tant qu'utilisateur" class="pwdUn" id="victimSignUp">
                    </div>
                    <div>
                        <input type="submit" value="s'inscrire en tant que professionnel" class="pwdTwo" id="proSignUp">
                    </div>
                </div>
            </div>
            <div class="memberSignIn">
                <p>Déjà membre ? <a href="signIn.html" id="signInModal"><span>Connectez vous.</span></a></p>
            </div>
        </div>
    </div>
</div>