<div class="opacityBg">
    <div class="logPage">
        <div id="modal" class="flex">
            <div class="formLog">
                <form action="?action=login" method="POST" id="modalForm">
                    <div class="flexPower">
                        <h2>connexion</h2>
                        <span id="errorMessage" class="errorMessage notForUser">Mot de passe incorrect</span>
                    </div>
                    <label for="pseudo"><p>nom d'utilisateur</p></label>
                    <input type="text" placeholder="entrer votre pseudo" name="username" id="pseudo">
                    <div class="indicPassword notForUser">
                        <p>Indication du mot de passe :</p>
                        <span id="userIndic">Phrase d'indication de l'utilisateur</span> <!--TODO-->
                    </div>
                    <label for="password"><p>mot de passe</p></label>
                    <input type="password" placeholder="entrer votre mot de passe"  name="password" id="password">
                    <input type="submit" value="se connecter" class="newPwd">
                </form>
            </div>
            <div class="signUpDiv">
                <div class="imgCross">
                    <a id="close"><img alt="cross" src="http://www27.atpages.jp/tasuku/work/paint_tool/img/batu.png"></a>
                </div>
                <div class="divTitle"><h1> vous n'êtes pas membre ?</h1></div>
                <div class="divDescribeSite"><p>Que vous soyez un professionnel désireux d'apporter votre contribution, ou un membre à la recherche de soutien, n'attendez pas plus.</p><p>Venez nous rejoindre !</p></div>
                <div class="divSubmitSignUp"><input type="submit" value="inscrivez-vous" class="btnSubmit" id="signUpModal"></div>
            </div>
        </div>
    </div>
</div>
